* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-text-color;
}

.wrapper {
  position: relative;
  max-width: 192rem;
  padding: 0 1.6rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 760px) {
    padding: 0 8rem;
  }

}

.pointer {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
}

