@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

  .content-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .popup-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }
}

@media (max-width: 35em) {
  .content-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .popup-container {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
}
