* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 1.6rem;
  color: #333;
}

h1 {
  color: #0d0c3a;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* header */
.header-container {
  margin: 3.2rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.logo-img {
  height: 3.6rem;
}

.search-form {
  position: relative;
  flex-grow: 1;
}

.search-form svg {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

#search {
  outline: none;
  width: 100%;
  border: none;
  padding: 1.6rem 2.4rem 1.6rem 4.8rem;
  background: #f7f7f7;
  border-radius: 9px;
}

#search:hover,
#search:active {
  outline: 5px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
  border: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-image: linear-gradient(to right, #274cff, #16d1d6);
  transition: all 0.3s;
}

.btn-primary:hover {
  background-image: linear-gradient(to left, #203bc2, #13adb3);
}

/* Search */

.search-container {
  margin: 0 2.4rem;
}

.search-container form {
  position: relative;
}

/* filters */

/* popup */

.popup-container {
  margin: 1.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-container {
  margin-top: 3.2rem;
  display: flex;
  gap: 4.8rem;
}

.offer-form {
  max-width: 56rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 9px;
  background-color: #f7f7f7;
  padding: 2.4rem;
}

.offer-form label {
  font-size: 1.6rem;
  color: #0d0c3a;
  display: block;
  margin-bottom: 0.8rem;
}

.offer-form input {
  width: 100%;
  height: 4.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
}

.offer-form textarea {
  width: 100%;
  height: 16rem;
  width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.two-cols {
  display: flex;
  gap: 2.4rem;
}

.column {
  width: 50%;
}

.form-price input,
.form-contact input,
.form-image input,
.form-comment input {
  padding-left: 3.2rem;
}

.form-price {
  position: relative;
}

.price-icon {
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.form-contact {
  position: relative;
}

.contact-icon {
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.form-image {
  position: relative;
}

.image-icon {
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.form-comment {
  position: relative;
}

.comment-icon {
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.offer-form-buttons {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.button-info {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}

.offer-preview {
  max-width: 28rem;
}

/* content */
.content-container {
  margin: 1.2rem 2.4rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  /* grid-auto-rows: 20rem; */
}

.offer-card {
  background-color: #f7f7f7;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: hidden;
}

.offer-header {
  position: relative;
}

.offer-img {
  width: 100%;
  cursor: pointer;
}

.offer-title {
  position: absolute;
  left: 2.4rem;
  bottom: 4.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
}

.offer-categories {
  position: absolute;
  left: 2.4rem;
  bottom: 2.4rem;
  font-size: 1.2rem;
  color: #ffffff99;
}

.offer-expiration {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  padding: 1.2rem;
  border-radius: 9px;
}

/* .info-icon {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  fill: #f7f7f7;
} */

.offer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.6rem 1.6rem 1.6rem;
}

.offer-price {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/* .offer-buttons {
  margin-top: auto;
  padding: 0 1.6rem 1.6rem 1.6rem;
} */

.offer-bottom {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.offer-contact {
  font-weight: 500;
  color: #274cff;
}

.offer-comments {
}

.load-more {
  align-self: center;
  justify-self: center;
}

.load-more p {
  color: #274cff;
  cursor: pointer;
}

/* footer */
.footer-container {
  margin: 1.2rem 2.4rem;
}

.chain-data {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  color: #676767;
}

.chain-data::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: #16d1d6;
  border-radius: 50%;
  align-self: center;
}
